{% extends 'base.html.twig' %}

{% block title %}{{ product.getName }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/product.css') }}">
{% endblock %}

{% block body %}
    <section class="content">
        <div class="product">
            <div class="product-image">
                <img src="/media/images/product/{{ product.getUuid() }}/{{ product.getImage() }}" alt="Image du produit">
            </div>
            <div class="product-details">
                <h2>{{ product.getName() }}</h2>
                <p>{{ cart.formatPrice(product.getUnitPrice()) }}</p>
                <p>{{ product.getDescription() }}</p>
                <button class="update-product-cart" data-productUuid="{{ product.getUuid() }}" data-action="add">🛒</button>
            </div>
        </div>
        <div class="stock-info">
            <h3>Nos magasins avec ce produit en stock :</h3>
            <ul>
                {% for stock in product.getStocks() %}
                    {% if stock.getQuantity() > 10 %}
                        <li><span class="stock-location">{{ stock.getStore().getCity() }}</span> : En stock</li>
                    {% else %}
                        <li><span class="stock-location">{{ stock.getStore().getCity() }}</span> : {{ stock.getQuantity() }} unit.</li>
                    {% endif %}
                {% else %}
                    <p>Produit en rupture de stock</p>
                {% endfor %}
            </ul>
        </div>
        <div class="products-suggestions">
            <h3>Des produits qui pourraient vous intéresser</h3>
            <div class="bottom-product-cards">
                {% for productOfSameCategory in product.getCategory().getProducts() %} 
                    {% if productOfSameCategory.getUuid != product.getUuid() %}      
                        <div class="bottom-card">
                            <img src="/media/images/product/{{ productOfSameCategory.getUuid() }}/{{ productOfSameCategory.getImage() }}">
                            <h3>{{ productOfSameCategory.getName }}</h3>
                            <p class="bottom-product-price">{{ cart.formatPrice(productOfSameCategory.getUnitPrice()) }}</p>
                            <div class="bottom-buttons-card">
                                <a href="{{ path('app_product', {'slug': productOfSameCategory.getSlug()}) }}">👀</a>
                                <button class="update-product-cart" data-productUuid="{{ product.getUuid() }}" data-action="add">🛒</button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
