{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <section class="top-content">
        <h2>Nos meilleures ventes</h2>
        <div class="slider-container">
            <div class="card-slider">
                {% for product in bestSells %}
                    <div class="card">
                        <img src="/media/images/product/{{ product.getUuid() }}/{{ product.getImage() }}" alt="Image">
                        <div class="card-content">
                            <div class="left">
                                <h4>{{ product.getName() }}</h4>
                                <p>{{ product.getDescription() }}</p>
                            </div>
                            <div class="right">
                                <div class="left-of-right">
                                    <p class="bottom-product-price">{{ cart.formatPrice(product.getPrice()) }}</p>
                                    <p>{{ product.getNbSales() }} ventes </p>
                                </div>
                                <div class="right-of-right">
                                    <a href="{{ path('app_product', {'slug' : product.getSlug()}) }}">👀</a>
                                    <button class="update-product-cart" data-productUuid="{{ product.getUuid() }}" data-action="add">🛒</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="slider-nav">
            <button id="prevButton">←</button>
            <button id="nextButton">→</button>
        </div>
    </section>
    {# ----------------------- section basse ---------------------------------- #}
    <section class="bottom-content">
        <h2>La sélection du moment</h2>
        <div class="category-container">
            <h4>Nos produits les plus vendu</h4>
            <div class="bottom-product-cards">
                {% for product in bestProductByCategory %}
                    {% if product %}
                        <div class="bottom-card">
                            <img src="/media/images/product/{{ product.getUuid() }}/{{ product.getImage() }}" alt="Image">
                            <h3>{{ product.getName() }}</h3>
                            <p class="bottom-product-price">{{ cart.formatPrice(product.getPrice()) }}</p>
                            <div class="bottom-buttons-card">
                                <a href="{{ path('app_product', {'slug' : product.getSlug()}) }}">👀</a>
                                <button class="update-product-cart" data-productUuid="{{ product.getUuid() }}" data-action="add">🛒</button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts_body %}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
