{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <section class="top-content">
        <h2>Nos meilleures ventes</h2>
        <div class="slider-container">
            <div class="card-slider">
                {% for product in bestSells %}
                    <div class="card">
                        <img src="/media/images/product/{{ product.getUuid() }}/{{ product.getImage() }}" alt="Image">
                        <div class="card-content">
                            <div class="left">
                                <p class="product_card-name">{{ product.getName() }}</p>
                                <p class="product_card-description">{{ product.getDescription() }}</p>
                            </div>
                            <div class="right">
                                <div class="left-of-right">
                                    <p class="product_card-price">{{ cart.formatPrice(product.getUnitPrice()) }}</p>
                                    <p>{{ product.getNbSales() }} ventes</p>
                                    {% set stock = (product.getStocks() is not empty ? "check" : "not-check") %}
                                    <p class="product_card-stock">
                                        Stock
                                        <img src="{{ asset('media/images/base/' ~ stock ~ '.svg') }}">
                                    </p>
                                </div>
                                <div class="right-of-right product_card-buttons">
                                    <a href="{{ path('app_product', {'slug' : product.getSlug()}) }}">👀</a>
                                    <button class="update-product-cart" data-productUuid="{{ product.getUuid() }}" data-action="add">🛒</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="slider-nav">
            <button id="prevButton">←</button>
            <button id="nextButton">→</button>
        </div>
    </section>
    {# ----------------------- section basse ---------------------------------- #}
    <section class="bottom-content">
        <h2>La sélection du moment</h2>
        <div class="app_container app_padding">
            <h4>Nos produits les plus vendu</h4>
            <div class="product_cards">
                {% for product in bestProductByCategory %}
                    {% include 'product_card.html.twig' with {'product': product} %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts_body %}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
