{% extends 'base.html.twig' %}

{% block title %}Emplacement produit {{ products[0].getProduct().getId()|format_number }}{% endblock %}

{% block stylesheets %}
    <style>
        .item {
            display: block;
            background-color: #F1F1F1;
            color: var(--primaryColor);
            margin: 10px 0;
            padding: 20px;
            border: 1px solid transparent;
            border-radius: var(--radiusBorder);
            transition: .2s ease;
            transition-property: background-color, border-color;
        }
        .item:hover {
            background-color: #E1E1E1;
            border-color: #aaa;
        }
    </style>
{% endblock %}

{% block header %}
    {% include 'logistics/headerLinks.html.twig' %}
{% endblock %}

{% block body %}
    <div class="app_container app_padding">
        {% for product in products %}
            <div class="item">
                {% set warehouseId = product.getShelf().getSection().getWay().getModule().getBuilding().getWarehouse().getId() %}
                {% set warehouseCity = product.getShelf().getSection().getWay().getModule().getBuilding().getWarehouse().getCity() %}
                {% set building = product.getShelf().getSection().getWay().getModule().getBuilding().getCode() %}
                {% set module = product.getShelf().getSection().getWay().getModule().getCode() %}
                {% set way = product.getShelf().getSection().getWay().getCode() %}
                {% set section = product.getShelf().getSection().getCode() %}
                {% set shelf = product.getShelf().getCode() %}
                <p>Entrepôt : {{ warehouseCity }}</p>
                <p>Bâtiment : {{ building }}</p>
                <p>Module : {{ module }}</p>
                <p>Rangée : {{ way }}</p>
                <p>Section : {{ section }}</p>
                <p>Étagère : {{ shelf }}</p>
                <br>
                <p>Quantité : {{ product.getQuantity() }}</p>
                <p>Emplacement : <b>{{ warehouseId }}{{ building }}{{ module }}{{ way }}{{ section }}.{{ shelf }}</b></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
