{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/category.css') }}">
{% endblock %}

{% block header %}
    {% include 'client/headerLinks.html.twig' %}
{% endblock %}

{% block body %}
	<h1>Catalogue</h1>
	<div class="app_container app_padding">
		<!-- Barre de recherche -->
		<form method="GET" class="search-bar">
			<input type="text" name="p" value="{{ app.request.query.get('p') }}" placeholder="Rechercher un produit...">
			<select name="c">
				<option class="select-category" value="-1">Toutes catégories</option>
				<!-- Boucle pour afficher toutes les catégories disponibles -->
				{% for category in categories %}
					<option value="{{ category.getId() }}"{{ category.getId() == app.request.query.get('c') ? ' selected="selected"' }}>{{ category.getName() }}</option>
				{% endfor %}
			</select>
			<button>🔍</button>
		</form>
		<div class="categories">
			{% if searchResult is not null %}
				{% for category, products in searchResult %}
					<div class="category">
						{% set categoryNameAndSlug = category|split(' ') %}
						<a class="category-name" href="{{ path('app_client_category', {'slug': categoryNameAndSlug[2]}) }}" title="{{ categoryNameAndSlug[1] }}">{{ categoryNameAndSlug[1]|upper }} 🔗</a>
						<div class="product_cards">
							{% for product in products|slice(0, 8) %}
								{% include 'client/product_card.html.twig' with {'product': product} %}
							{% endfor %}
						</div>
						{% if products|length > 8 %}
							<div style="text-align: center;margin: 10px 0">
								<a class="link_see_more" href="{{ path('app_client_category', {'slug': categoryNameAndSlug[2]}) }}" title="Voir plus">Voir plus</a>
							</div>
						{% endif %}
					</div>
				{% else %}
					<p>Aucun produit trouvé</p>
				{% endfor %}
			{% else %}
				{% for category in categories %}
					<div class="category">
						<a class="category-name" href="{{ path('app_client_category', {'slug': category.getSlug()}) }}" title="{{ category.getName() }}">{{ category.getName()|upper }} 🔗</a>
						<div class="product_cards">
							<!-- Boucle pour afficher les produits de chaque catégorie -->
							{% for product in category.getProducts()|slice(0, 8) %}
								{% include 'client/product_card.html.twig' with {'product': product} %}
							{% endfor %}
						</div>
						{% if category.getProducts()|length > 8 %}
							<div style="text-align: center;margin: 10px 0">
								<a class="link_see_more" href="{{ path('app_client_category', {'slug': category.getSlug()}) }}" title="Voir plus">Voir plus</a>
							</div>
						{% endif %}
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}
