{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block header %}
    {% if app.request.getHost() starts with 'logistique.' %}
        {% include 'logistics/header_links.html.twig' %}
    {% else %}
        {% include 'client/header_links.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="app_container app_padding">
        <div class="form">
            <form method="POST">
                <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <label>
                    Email
                    <input type="text" value="{{ last_username }}" name="email" class="form-control" autocomplete="username" required autofocus>
                </label>
                <label>
                    Mot de passe
                    <div class="toggle-password-button">
                        <div id="toggle-password-button_icon" class="toggle-password-button_icon">
                            <img src="{{ asset('media/images/form/eye-password-show.svg') }}" alt="Icon pour afficher/cacher le mot de passe">
                        </div>
                        <input type="password" name="password" class="form-control" autocomplete="current-password" required>
                    </div>
                </label>
                <label>
                    <input type="checkbox" name="_remember_me" checked>
                    Rester connecté
                </label>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button>Connexion</button>
                <p class="GoToSign">Pas encore inscrit ? <a href="{{ path('app_client_register') }}">Inscrivez-vous</a> dès maintenant !</p>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts_body %}
    <script src="{{ asset('js/form.js') }}"></script>
{% endblock %}
