{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Uuid</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.uuid }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_crud_show', {'uuid': category.uuid}) }}">show</a>
                    <a href="{{ path('app_category_crud_edit', {'uuid': category.uuid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_crud_new') }}">Create new</a>
{% endblock %}
