{% extends 'base.html.twig' %}

{% block title %}Mon Profil
{% endblock %}


{% block body %}

<h1>Profil</h1>

	{% if user %}
		<br>
		<h3>Bonjour,
			{{ app.user.name }}
			{{ app.user.firstname}}<br><br></h4>
		Votre email:
		{{ app.user.email}}<br><br>
		Votre numéro de téléphone:
		{{ app.user.phone}}<br><br>
		Votre adresse:
		{{ app.user.address}},
		{{app.user.postcode}}
		{{app.user.city}}


	</p><br>

	<a href="{{ path('app_changePassword') }}">Change Password</a>

	{{ dump(user)}}
{% else %}
	<p>Vous n'êtes pas connecté.</p>
{% endif %}

<link rel="stylesheet" href="{{ asset('css/profil.css') }}">

{% endblock %}
