{% extends 'base.html.twig' %}

{% block title %}{{ product.getName() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/product.css') }}">
{% endblock %}

{% block header %}
    {% include 'client/header_links.html.twig' %}
{% endblock %}

{% block body %}
    <section class="app_container app_padding">
        <div class="product">
            <div class="product_card-images">
                {% set images = product.getProductImgs() %}
            <img class="product_card-image--selected" src="{{ asset('media/images/product/' ~ product.getId() ~ '/' ~ images[0].getName()) }}" alt="Image du produit">
            <div class="product_card-images_list">
                {% for image in images %}
                    <div class="product_card-image{{ loop.first ? ' selected' }}">
                        <img src="{{ asset('media/images/product/' ~ product.getId() ~ '/' ~ image.getName()) }}" alt="Image du produit">
                    </div>
                {% endfor %}
            </div>
            </div>
            <div class="product-details">
                <h2>{{ product.getName() }}</h2>
                <p class="product_card-price">{{ product.getUnitPrice()|format_currency('EUR') }}</p>
                <p class="product_card-description">{{ product.getDescription() }}</p>
                <button class="update-product-cart" data-productid="{{ product.getid() }}" data-action="add" title="Ajouter au panier">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="var(--whiteColor)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="10" cy="20.5" r="1"/><circle cx="18" cy="20.5" r="1"/><path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1"/></svg>
                </button>
                {% include 'client/product_card-stock.html.twig' with {'stock_store': product.getStockStores(), 'stock_web': product.getStockShelves()} %}
            </div>
        </div>
        <div class="stock-info">
            <h3>Stock internet</h3>
            <ul>
                {% set quantityStockWebs = 0 %}
                {% for stock in product.getStockShelves() %}
                    {% set quantityStockWebs = quantityStockWebs + stock.getQuantity() %}
                {% endfor %}
                {% if quantityStockWebs > 0 %}
                    <li>{{ quantityStockWebs }} unités restantes</li>
                {% else %}
                    <p>Stock internet épuisé pour ce produit</p>
                {% endif %}
            </ul>
        </div>
        <div class="stock-info">
            <h3>Nos magasins avec ce produit en stock</h3>
            <ul>
                {% for stock in product.getStockStores() %}
                    {% if stock.getQuantity() > 10 %}
                        <li><span class="stock-location">{{ stock.getStore().getCity() }}</span> : En stock</li>
                    {% elseif stock.getQuantity() > 0 %}
                        <li><span class="stock-location">{{ stock.getStore().getCity() }}</span> : {{ stock.getQuantity() }} unit.</li>
                    {% else %}
                        <p>Produit en rupture de stock dans nos magasins</p>
                    {% endif %}
                {% else %}
                    <p>Produit en rupture de stock dans nos magasins</p>
                {% endfor %}
            </ul>
        </div>
        <div class="products-suggestions">
            <h3>Des produits qui pourraient vous intéresser</h3>
            <div class="product_cards">
                {% for productOfSameCategory in product.getCategory().getProducts() %} 
                    {% if productOfSameCategory.getId() != product.getId() %}      
                        {% include 'client/product_card.html.twig' with {'product': productOfSameCategory} %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
