{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block header %}
    {% include 'client/headerLinks.html.twig' %}
{% endblock %}

{% block body %}
    <div class="app_container app_padding">
        <section class="top-content">
            <h2 class="section_title">
                <span>Nos meilleures ventes {{ 'now'|date('Y') }}</span>
            </h2>
            <div class="slider-container">
                <div class="slider-cards">
                    {% for product in bestSells %}
                        <div class="card">
                            <div class="flex">
                                {% set images = product.getProductImgs() %}
                                <a href="{{ path('app_client_product', {'slug' : product.getSlug()}) }}" title="Voir le produit">
                                    <img class="product_card-image--selected" src="{{ asset('media/images/product/' ~ product.getId() ~ '/' ~ images[0].getName()) }}" alt="Image du produit">
                                </a>
                                <div class="product_card-images_list">
                                    {% for image in images %}
                                        <div class="product_card-image{{ loop.first ? ' selected' }}">
                                            <img src="{{ asset('media/images/product/' ~ product.getId() ~ '/' ~ image.getName()) }}" alt="Image du produit">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="left">
                                    <a class="product_card-name" href="{{ path('app_client_product', {'slug': product.getSlug()}) }}" title="Voir le produit">{{ product.getName() }}</a>
                                    <p class="product_card-description">{{ product.getDescription()|u.truncate(20, '...', false) }}</p>
                                </div>
                                <div class="right">
                                    <div class="left-of-right">
                                        <p class="product_card-price">{{ product.getUnitPrice()|format_currency('EUR') }}</p>
                                        {% include 'client/product_card-stock.html.twig' with {'stock_store': product.getStockStores(), 'stock_web': product.getStockShelves()} %}
                                    </div>
                                    <div class="right-of-right product_card-buttons">
                                        <a class="product_card-button_basic" href="{{ path('app_client_product', {'slug': product.getSlug()}) }}" title="Voir le produit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><g fill="none" fill-rule="evenodd"><path d="M18 14v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8c0-1.1.9-2 2-2h5M15 3h6v6M10 14L20.2 3.8"/></g></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <button id="prevButton" class="slider_btn slider_btn--left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="var(--whiteColor)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 12H6M12 5l-7 7 7 7"/></svg>
                    </button>
                    <button id="nextButton" class="slider_btn slider_btn--right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="var(--whiteColor)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h13M12 5l7 7-7 7"/></svg>
                    </button>
                </div>
            </div>
        </section>
        <section class="bottom-content">
            <h2 class="section_title">
                <span>Notre sélection du moment</span>
            </h2>
            <div class="product_cards">
                {% for product in bestProductByCategory %}
                    {% include 'client/product_card.html.twig' with {'product': product} %}
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts_body %}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
