{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}">
{% endblock %}

{% block body %}
    <h2 class="cart-title">Mon panier</h2>
    {% if products is not empty %}
        {% set priceOrderHT = 0 %}
        <div class="bottom-product-cards">
            {% for item in products %}
                <div class="bottom-card">
                    {% set product = item[0] %}
                    {% set quantity = item[1] %}
                    {% set priceOrderHT = priceOrderHT + product.getUnitPrice() * quantity %}
                    <img src="/media/images/product/{{ product.getUuid() }}/{{ product.getImage() }}" alt="Image">
                    <h3>{{ product.getName() }}</h3>
                    <p class="product-card_price">{{ cart.formatPrice(product.getUnitPrice() * quantity) }}</p>
                    <div class="product-card_buttons">
                        <button href="{{ path('app_cart') }}" class="update-product-cart" data-productUuid="{{ product.getUuid() }}" data-action="add">➕</button>
                        <button class="update-product-cart" data-productUuid="{{ product.getUuid() }}" data-action="remove">➖</button>
                        <a href="{{ path('app_product', {'slug' : product.getSlug()}) }}">👀</a>
                        <button class="update-product-cart" data-productUuid="{{ product.getUuid() }}" data-action="delete">❌</button>
                    </div>
                    <p class="product-quantity">x{{ quantity }}</p>
                </div>
            {% endfor %}
        </div>

        <div class="priceAndConfirmOrder">
            <p class="price-order">Total de la commande : <span>{{ cart.formatPrice(priceOrderHT) }}</span></p>
            <button class="confirm-order">Passer la commande 💳</button>
        </div>
    {% else %}
        <p class="noProductInCart">Votre panier ne contient pas de produit, ajoutez-en <a href="{{ path('app_categories') }}">ici</a></p>
    {% endif %}
{% endblock %}
