{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/cart.css') }}">
	<link rel="stylesheet" href="{{ asset('css/profil.css') }}">
    <link rel="stylesheet" href="{{ asset('css/order.css') }}">
{% endblock %}

{% block header %}
    {% include 'client/headerLinks.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Commande num. {{ order.getId() }}</h1>

	<div class="app_container app_padding">
        <div class="order-info">		
            <p><span>Passée le : </span>{{ order.getDateTime()|format_date(locale="fr", pattern="EEEE d MMMM y 'à' HH:mm") }}</p>
            <p><span>{{ order.getProductQuantity() }}</span> articles</p>
            <p><span>Prix HT : </span>{{ order.getTotalPriceHT()|format_currency('EUR') }}</p>
            <p><span>Prix Taxe : </span>{{ order.getTax() }} %</p>
            <p><span>Prix TTC : </span>{{ (order.getTotalPriceHT() + (order.getTotalPriceHT() * order.getTax() / 100))|format_currency('EUR') }}</p>
            {% for rank in order.getOrderRanks() %}
                <p><span>{{ rank.getOrderState().getName()|title }} le : </span>{{ rank.getDateTime()|format_date(locale="fr", pattern="EEEE d MMMM y 'à' HH:mm") }}</p>
            {% endfor %}
        </div>
        <div class="product_cards">
            {% for detail in order.getOrderDetail() %}
                {% include 'client/product_card.html.twig' with {
                                                            'product': detail.getProduct(),
                                                            'unitPrice': detail.getUnitPrice(),
                                                            'quantity': detail.getQuantity(),
                                                            'orderDetail': true
                } %}
            {% endfor %}
        </div>
	</div>
{% endblock %}
