{% extends 'base.html.twig' %}

{% block title %}Commande nº {{ order.getId() }}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/cart.css') }}">
	<link rel="stylesheet" href="{{ asset('css/profil.css') }}">
    <link rel="stylesheet" href="{{ asset('css/order.css') }}">
{% endblock %}

{% block header %}
    {% include 'client/headerLinks.html.twig' %}
{% endblock %}

{% block body %}
	<div class="app_container app_padding">
        <div class="back_links">
            <a href="{{ path('app_client_profil') }}">Mon profil</a>
            <a href="{{ path('app_client_my_order', {'id': order.getId()}) }}">Commande nº {{ order.getId() }}</a>
        </div>
        <h1>Commande nº {{ order.getId() }}</h1>
        <div class="order-info">
            <div class="confirm_order">
                <a href="{{ path('app_client_my_confirm_order', {'id': order.getId()}) }}">Voir ma facture</a>
            </div>
            <p>Suivre l'avancée de votre commande</p>
            <div class="order_states">
                {% for rank in order.getOrderRanks() %}
                    <div>
                        {% if not loop.first %}
                            <hr>
                        {% endif %}
                        <p>
                            <span>{{ rank.getOrderState().getName() }}</span>
                            le {{ rank.getDateTime()|format_date(locale="fr", pattern="EEEE d MMMM y 'à' HH'h'mm") }}
                        </p>
                        {% if loop.last and loop.index < orderStates|length %}
                            <hr>
                            <p class="future">
                                <span>{{ orderStates[loop.index].getName() }}</span>
                                À venir...
                            </p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="product_cards">
            {% for detail in order.getOrderDetail() %}
                {% include 'client/product_card.html.twig' with {
                                                            'product': detail.getProduct(),
                                                            'quantity': detail.getQuantity(),
                                                            'orderDetail': true,
                                                            'orderPrice': detail.getUnitPrice()
                } %}
            {% endfor %}
        </div>
	</div>
{% endblock %}
