{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/cart.css') }}">
	<link rel="stylesheet" href="{{ asset('css/profil.css') }}">
    <link rel="stylesheet" href="{{ asset('css/order.css') }}">
{% endblock %}

{% block header %}
    {% include 'client/headerLinks.html.twig' %}
{% endblock %}

{% block body %}
	<div class="app_container app_padding">
        <div class="back_links">
            <a href="{{ path('app_client_profil') }}">Mon profil</a>
            <a href="{{ path('app_client_my_orders') }}">Mes commandes</a>
        </div>
        <h1>Mes commandes</h1>
        <div>
            {% if app.user.getOrders() is not empty %}
                <div class="flex">
                    {% for order in app.user.getOrders()|sort((a, b) => a.getDateTime() < b.getDateTime()) %}
                        {% include 'client/order_card.html.twig' with {'order': order} %}
                    {% endfor %}
                </div>
            {% else %}
                <p>Vous n'avez pas encore passé de commande sur notre site</p>
            {% endif %}
        </div>
	</div>
{% endblock %}
