{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block header %}
    {% include 'client/headerLinks.html.twig' %}
{% endblock %}

{% block body %}
	<div class="app_container app_padding">
		<div class="back_links">
			<a href="{{ path('app_client_profil') }}">Mon profil</a>
		</div>
		<h1>Mon profil</h1>
		<div class="box_container">
			<div class="user-info">
				<h2 class="box_title">
					<span>Bonjour,</span>
					{{ app.user.getFirstName() }} {{ app.user.getName() }}
				</h2>
				<p>
					<span>Email :</span> {{ app.user.getEmail() }}
				</p>
				<p>
					<span>Téléphone :</span> {{ app.user.getPhone() ?? "À compléter" }}
				</p>
				<p>
					<span>Adresse :</span> {{ app.user.getAddress() ?? "À compléter" }}
				</p>
			</div>
			<div>
				<h2 class="box_title">Mes dernières commandes</h2>
				{% if app.user.getOrders() is not empty %}
					<div class="flex">
						{% for order in app.user.getOrders()|sort((a, b) => a.getDateTime() < b.getDateTime())|slice(0, 4) %}
							{% include 'client/order_card.html.twig' with {'order': order} %}
						{% endfor %}
					</div>
					<div class="see_all_orders">
						<a href="{{ path('app_client_my_orders') }}">Voir mes commandes</a>
					</div>
				{% else %}
					<p>Vous n'avez pas encore passé de commande sur notre site</p>
				{% endif %}
			</div>
			<div>
				<a class="logout-button" href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		</div>
	</div>
{% endblock %}
