{% extends 'header.html.twig' %}

{% block headerLinks %}
    {% set path = app.request.getPathInfo() %}
    <li>
        <a href="{{ path('app_client_home') }}" class="{{ path == path('app_client_home') ? 'on' : '' }}" title="Accueil">Accueil</a>
    </li>
    <li>
        <a href="{{ path('app_client_categories') }}" class="{{ path == path('app_client_categories') ? 'on' : '' }}" title="Catalogue">Catalogue</a>
    </li>
    {# Si l'utilisateur est connecté alors on affiche ceci #}
    {% if app.user %}
        <li>
            <a href="{{ path('app_client_profil') }}" class="{{ path == path('app_client_profil') ? 'on' : '' }}" title="Mon profil">Mon profil</a>
        </li>
    {# Sinon ça #}
    {% else %}
        <li>
            <a href="{{ path('app_login') }}" class="{{ path == path('app_login') ? 'on' : '' }}" title="Connexion">Connexion</a>
        </li>
        <li>
            <a href="{{ path('app_client_register') }}" class="{{ path == path('app_client_register') ? 'on' : '' }}" title="Inscription">Inscription</a>
        </li>
    {% endif %}
    <li>
        <a href="{{ path('app_client_cart') }}" class="{{ path == path('app_client_cart') ? 'on' : '' }}" title="Mon panier">
            Mon panier
            <span class="order_price_value">{{ cart.getOrderPriceHT()|format_currency('EUR') }}</span>
        </a>
    </li>
{% endblock %}
