{% set hasProduct = product is defined %}
{% set hasQuantity = quantity is defined %}

{% if hasProduct %}
    {% set product_id = product.getId() %}

    <div {{ hasQuantity ? 'id=' ~ product_id }}  class="product_card">
        {% for image in product.getProductImgs() %}
            <img class="product_card-image" src="{{ asset('media/images/product/' ~ product_id ~ '/' ~ image.getName()) }}" alt="Image du produit">
        {% endfor %}
        <p class="product_card-name">{{ product.getName() }}</p>
        {% if hasQuantity %}
            <p class="product_card-quantity">x<span class="product_card-quantity_value">{{ quantity }}</span></p>
        {% endif %}
        <p class="product_card-price">{{ cart.formatPrice(product.getUnitPrice() * (quantity ?? 1)) }}</p>
        <div class="product_card-buttons">
            {% if hasQuantity %}
                <button href="{{ path('app_client_cart') }}" class="update-product-cart" data-product-id="{{ product_id }}" data-action="add">➕</button>
                <button class="update-product-cart" data-product-id="{{ product_id }}" data-action="remove">➖</button>
            {% endif %}
            <a href="{{ path('app_client_product', {'slug' : product.getSlug()}) }}">👀</a>
            {% if hasQuantity %}
                <button class="update-product-cart" data-product-id="{{ product_id }}" data-action="delete">❌</button>
            {% else %}
                <button class="update-product-cart" data-product-id="{{ product_id }}" data-action="add">🛒</button>
            {% endif %}
        </div>
        {% set stock = (product.getStocks() is not empty ? "check" : "not-check") %}
        <p class="product_card-stock">
            Stock
            <img src="{{ asset('media/images/base/' ~ stock ~ '.svg') }}">
        </p>
    </div>
{% endif %}
