{% extends 'base.html.twig' %}

{% block title %}Catalogue
{% endblock %}

{% block body %}
	<h1>Catalogue</h1>

	<ul>
		{% for category in categories %}
			<li>
				<h2>{{ category.getName() }}</h2>
				<ul class="products-list">
					{% for product in category.getProducts() %}
						<li class="product-item">
							<img src="/media/images/product/{{ product.getUuid() }}/{{ product.image }}" alt="Image">
							<h3>{{ product.getName() }}</h3>
							<p class="product-price">{{ product.getPrice() }}
								€</p>
						</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>
	<link rel="stylesheet" href="{{ asset('css/catalogue.css') }}">

{% endblock %}
