{% extends 'base.html.twig' %}

{% block title %}Mon Profil
{% endblock %}


{% block body %}


	{% if user %}
		<h3>Bonjour,
			{{ app.user.name }}
			{{ app.user.firstname}}<br></h4>
		Votre email:
		{{ app.user.email}}
		!</p>

	<a href="{{ path('app_changePassword') }}">Change Password</a>

	{{ dump(user)}}
{% else %}
	<p>Vous n'êtes pas connecté.</p>
{% endif %}{% endblock %}
