<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>A4S • {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/jpg" href="{{ asset('media/images/header/logo.png') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/header.css') }}">
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        {% block stylesheets %}{% endblock %}
        {% block javascripts_head %}{% endblock %}
    </head>
    <body>
        <div id="body_loading" class="body_loading">
            <div>
                <img src="{{ asset('media/images/header/logo.png') }}" alt="Logo All4Sport" width="40px">
            </div>
        </div>
        <div id="app" class="app hidden">
            {% block header %}{% endblock %}
            <main id="main-app" class="main-app">
                {% block body %}{% endblock %}
            </main>
            {% include 'footer.html.twig' %}
        </div>
        <script src="{{ asset('js/base.js') }}"></script>
        {% block javascripts_body %}{% endblock %}
    </body>
</html>
