<header class="header-app">
    <div class="header-app__content">
        <div class="header-app__logo">
            <a href="/">
                <img src="{{ asset('media/images/logo.svg') }}">
            </a>
        </div>
        <nav class="header-app__nav">
            <ul>
                <li><a href="/" class="{{ app.request.getPathInfo() == '/' ? 'on' : '' }}">Accueil</a></li>
                <li><a href="/connexion" class="{{ app.request.getPathInfo() == '/connexion' ? 'on' : '' }}">Connexion</a></li>
            </ul>
            <div id="header-app__indicator-link">
                <img src="{{ asset('media/images/header-app__indicator-link.svg') }}">
            </div>
        </nav>
        <div class="header-app__toolbar">
            <div>
                <img src="{{ asset('media/images/search.svg') }}">
            </div>
            <div>
                <img src="{{ asset('media/images/basket.svg') }}">
            </div>
        </div>
    </div>
</header>
