{% extends 'base.html.twig' %}


{% block title %}Catalogue
{% endblock %}


{% block body %}
<h1>Catalogue</h1>


<!-- Barre de recherche -->
<div class="search-bar">
	<input type="text" id="search-input" placeholder="Rechercher un produit" style="color:black;">
	<select id="category-filter">
		<option value="">Toutes les catégories</option>
		<!-- Boucle pour afficher les options de catégorie -->
		{% for category in categories %}
			<option value="{{ category.getName() }}">{{ category.getName() }}</option>
		{% endfor %}
	</select>
	<button id="search-button">🔍</button>
</div>


<ul>
	<!-- Boucle pour afficher les catégories -->
	{% for category in categories %}
		<li>
			<h2>{{ category.getName() }}</h2>
			<ul
				class="products-list">
				<!-- Boucle pour afficher les produits de chaque catégorie -->
				{% for product in category.getProducts() %}
					<li class="product-item" data-category="{{ category.getName() | lower }}">
						<img src="/media/images/product/{{ product.getUuid() }}/{{ product.image }}" alt="Image">
						<h3>{{ product.getName() }}</h3>
						<p class="product-price">{{ product.getPrice() }}
							€</p>
					</li>
				{% endfor %}
			</ul>
		</li>
	{% endfor %}
</ul>


<link rel="stylesheet" href="{{ asset('css/catalogue.css') }}"></div><script>
{% endblock %}
