{% extends 'base.html.twig' %}

{% block title %}Catégorie
	{{ category.getName() }}
{% endblock %}

{% block body %}
	<h1>Catégorie :
		{{ category.getName() }}</h1>

	<h2>Produits dans cette catégorie :</h2>

	<ul>
		{% for product in category.getProducts() %}
			<li>
				<h3>{{ product.getName() }}</h3>
				<p>Description :
					{{ product.getDescription() }}</p>
				<p>Prix :
					{{ product.getPrice() }}
					💲</p>
				<!-- Ajoutez d'autres détails du produit ici si nécessaire -->
			</li>
		{% endfor %}
	</ul>
{% endblock %}
