{% extends 'base.html.twig' %}

{% block title %}Détail de la catégorie {{ category.name | upper  }}
{% endblock %}

{% block body %}

	<h2>{{ category.name | upper  }}</h2>


	<div class="cards-container">
	{% for product in category.getProducts() %}
		<div class="card">
			<img src="/media/images/product/{{ product.getUuid() }}/{{ product.getImage() }}" alt="Image">
			<h3>{{ product.getName() }}</h3>
			<p class="product-price">{{ product.getPrice() }}
				💲</p>
			<div class="buttons-card">
				<button>
					<a href="{{ path('app_product', {product : product.uuid}) }}">👀</a>
				</button>
				<button class="update-product-cart" data-productuuid="{{ product.getUuid() }}" data-action="add">🛒</button>

			</div>
		</div>
	{% endfor %}

	</div>


<link rel="stylesheet" href="{{ asset('css/detail.css') }}">

{% endblock %}
